.leftMenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: var(--color-background-8);
    border-bottom: 1px solid var(--color-border-1);
}

@media screen and (max-width:871px){
    .side{
        display: none;
    }
}