.menuTop {
    display: grid;
    flex-flow: row nowrap;
    min-height: 40px;
    background-color:var(--color-sport-secondary-body);
    font-size: medium;
    color: initial;
}

.menuTop__group {
    grid-area: content;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    background-color: var(--color-sport-secondary-body);
}
.menuTop__content {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    overflow: hidden;
    height: 40px;}

.menuTop__item {
        display: grid;
        grid-template-columns: repeat(2,auto) max-content;
        align-items: center;
        padding: 0 15px;
        user-select: none;
        color: var(--color-white);
        position: relative;
        box-sizing: border-box;
}


.menuTop__text {
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 11px;
    font-weight: 700;
}   