:root{
    --color-sport-primary: #1b7700;
    --color-sport-tertiary: #053600;
    --color-sport-secondary-body:#085f00;
    --color-white:white;
    --color-background-8: #f0f0f0;
    --color-text-5:#656565;
    --color-background-6: #ffe1af;
    --color-background-7:#ebebeb;
}