.leftMenu__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 6px;
    min-height: 25px;
    box-sizing: border-box;
}